@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Kreon:wght@600&family=Montserrat:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #171717;
}
h3 {
    font-family: 'IBM Plex Serif', serif;
}
a {
    text-decoration: none;
    color: rgb(119, 189, 247);
}
a:hover {
    color: #ffffff;
}
/*****************************HEADER STYLES*****************************/

header h1 {
    font-family: 'Kreon', serif;
    color: #ffffff;
}
header h3 {
    color: #18427a;
    font-weight: 300;
}

/*****************************LIST STYLES*****************************/

li {
    list-style: none;
}

span.hostname {
    color: rgb(118, 181, 245);
}
span.hostname:hover {
    color: rgb(253, 254, 255);
    cursor: pointer;
}
span.timeSpent {
    color: rgb(255, 255, 255);
}

/********** reset buttons *****************/
.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #ac2e25;
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
    margin: 10px auto 25px;
    border-radius: 20px;
    box-shadow: 0 6px #ca4e4a;
}

.btn:hover {
    box-shadow: 0 4px #ca534f;
    bottom: -2px;
}

.btn:active {
    box-shadow: none;
    bottom: -6px;
}
.btn {
    position: fixed;
    bottom: 0px;
    right: 12px;
}
